[build.environment]
  NPM_FLAGS = "--version"
  NODE_VERSION = "16"

[build]
  publish = "docs/.vitepress/dist"
  command = "npx pnpm@7.5.0 i --frozen-lockfile false && npx pnpm@7.5.0 docs:build"
  ignore = "git diff --quiet HEAD^ HEAD . ../docs"

[functions]
  node_bundler = "esbuild"
